@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  @apply 
  bg-ride-400
  flex flex-col overflow-auto h-screen
  bg-gradient-to-t from-ride-300 to-ride-200
  font-bf text-white
  text-center
  pt-16
}

.topHud, .bottomHud { 
  @apply 
  xl:mx-96
  fixed grid  items-center left-0 right-0
  rounded-b-lg
  text-white
  text-sm
  md:text-xl lg:text-2xl xl:text-2xl xl:grid-cols-3
  border-none  
}

.topHud {
  @apply
  top-0
  grid-cols-3
}

.bottomHud {
  @apply
  bottom-0
  grid-cols-2
}

.hudRider, .hudEnergy, .hudPOAPs, .hudLeader, .hudTrips {
  @apply
  p-2
  bg-glass-800 hover:bg-ride-900
  text-lg hover:text-ride-100 hover:font-bold
  border-glass-800
  cursor-pointer
}

.hudRider {
  @apply
  rounded-bl-lg
  border-r
  hover:bg-rider-500
}

.hudPOAPs {
  @apply
  rounded-br-lg
  border-l
}

.hudLeader {
  @apply
  rounded-tl-lg
  hover:bg-rival-500
}

.hudTrips {
  @apply 
  rounded-tr-lg
}

.screenTitle {
  @apply 
  text-3xl text-rider-500 font-bold
  grid
}

.screenMargin {
  @apply
  mx-3 xl:mx-96
  xl:text-3xl
}

.tripCard {
  @apply 
  bg-glass-700
  rounded-lg
  grid
  pb-10
}

.tripDetails, .tripData {
  @apply
  p-2
}

.tripData {
  @apply
  text-left
  text-sm
  grid
}

.tripDetails {
  @apply
  grid 
  grid-cols-2
}

.tripFrom, .tripTo {
  @apply
  grid
  grid-cols-6
}

.dataValue {
  @apply
  text-2xl
  col-span-4
  mt-5
}

.dataTitle {
  @apply
  text-sm animate-pulse
}

.tripFrom {
  @apply
  text-ride-900
}

.tripTo {
  @apply
  text-rider-500
}



.Button {
  @apply
  bg-glass-200 hover:bg-rider-500
  cursor-pointer
  text-white hover:text-ride-100
  rounded-lg
  text-2xl
  py-3
}