@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  @apply 
  bg-ride-400
  flex flex-col overflow-auto h-screen
  bg-gradient-to-t from-ride-300 to-ride-200
  font-bf text-white
  text-center
}

.topHud, .bottomHud { 
  @apply 
  xl:mx-96
  fixed grid  items-center left-0 right-0
  rounded-b-lg
  text-white
  text-sm
  md:text-xl lg:text-2xl xl:text-2xl xl:grid-cols-3
  border-none  
}

.topHud {
  @apply
  top-0
  grid-cols-3
}

.bottomHud {
  @apply
  bottom-0
  grid-cols-2
}

.hudRider, .hudEnergy, .hudPOAPs, .hudLeader, .hudTrips {
  @apply
  p-2
  bg-glass-800 hover:bg-ride-900
  text-lg hover:text-ride-100 hover:font-bold
  border-glass-800
  cursor-pointer
}

.hudRider {
  @apply
  rounded-bl-lg
  border-r
  hover:bg-rider-500
}

.hudPOAPs {
  @apply
  rounded-br-lg
  border-l
}

.hudLeader {
  @apply
  rounded-tl-lg
  hover:bg-rival-500
}

.hudTrips {
  @apply 
  rounded-tr-lg
}